.margin25percent-sp {
    margin-left: 25%;
}
.displayTable {
    display: table;
}
.adaCompliance {
	display: none !important;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
}
.container-box-content {
	margin: -10px 10px 10px 10px;
}
#mainboxcontent .container-box-content-summary {
	margin: -10px -110px 10px -46px;
}
.access-offer-top-margin {
	margin-top: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans' !important;
	color: #565656;
	font-size: 22px;
	margin: 15px 0px;
	padding: 0;
	font-weight: 700;
	font-style: normal;
	line-height: 1.1;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-family: 'Open Sans' !important;
}
.box-panel h3,
.box-panel h4 {
	text-align: center;
}
.box-panel {
	vertical-align: top;
	padding: 15px;
	border-top: 0px solid #fff !important;
	position: relative;
	margin: 1em;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	min-height: 500px;
}
.box-panel:first-child:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	background: linear-gradient(-225deg, #87CC83 35%, #87CC83);
	top: 0px;
	left: 0;
}
.prq-logo {
	float: left;
	margin: 10px 0 0 15px;
	width: 140px!important;
}
.pqr-logo-img {
	width: 140px;
}
.custom-pdding {
	float: none!important;
	width: 50%!important;
	margin: 0 auto;
	text-align: center;
	padding: 3px !important;
    background-color: #E2E2E2;
	border: 1px solid #CECECE;
	margin-top: 20px;
}
.wrapper.state.address-popup .btn:hover {
	background-color: #53c3bf !important;
}
.alignCenter {
    text-align: center !important;
	line-height: 1.5rem;
}
.progreesBreadcrumb-bar {
	width: 99.7%;
	height: 15px;
	margin: 0;
	background: linear-gradient(-225deg,#87CC83 35%,#87CC83)!important;
	
}
.progreesBreadcrumb-bar li {
	list-style-type: none;
	display: inline-block;
	height: 15px;
	background: #E2E2E2;
	width: 7.69%;
	margin: 0px;
	padding: 0px;
	border: 0px solid #e9eaed;
	float: left;
}
.progreesBreadcrumb-bar li.done-progress {
	background: transparent !important;
}
.progreesBreadcrumb-bar-text.second-phase-done {
	text-align: center;
	width: 100% !important;
	margin-bottom: 20px
}
.progreesBreadcrumb-bar-text {
	width: 100%;
	float: left;
	height: auto;
	font-size: 11px;
	color: #333;
}
h4,
h4>a {
	font-size: 1rem;
}
.headwayFirstSectionContent {
	width: 100%;
	text-align: center;
	line-height: 20px;
}
.firstSectionContenth3 {
	width: 100%;
	text-align: center;
	line-height: 20px;
	padding-bottom: 10px;
}
.firstSectionContentp {
	width: 250px;
	text-align: left;
	line-height: 10px;
	padding-bottom: 0px;
	margin: 0 auto;
}
p.tick {
	padding-left: 0px;
	float: left;
	width: 220px;
	margin: 8px 0px;
	text-align: left;
}
i.fa.fa-check {
	font-size: 20px;
	color: #010004!important;
	margin: 7px 7px 0 0;
}
#breadcrumb-preloader .load-img {
	margin: 20px 0;
	position: relative;
	height: 340px;
}
.headway-view-offer {
	text-align: center;
	width: 100%;
	margin-bottom: -5px;
	font-family: 'Open Sans' !important;
}
p,
td {
	line-height: 25px;
	color: #565656;
}
a {
	color: #EB5894 !important;
	text-decoration: none !important;
	font-size: 17px !important;
}
.fa-info-circle {
	color: #87CC83 !important;
	margin-left: 5px;
	font-size: 15px;
}
.headway-view-offer a {
	color: #010004 !important;
	font-family: 'Open Sans' !important;
}
#breadcrumb-preloader-preloader .button-align {
	padding: 10px 15px 0px 12px;
}
#breadcrumb-preloader-preloader .select-control-align {
	padding: 10px 0px 0px 3px;
}
/* #breadcrumb-preloader-preloader .text-control-align {
	padding: 0px 14px 0px 20px;
} */
#breadcrumb-preloader-preloader .button-control-align {
	padding: 10px 14px 0px 20px;
	max-width: fit-content;
	margin: 20px auto !important;
}
.wrapper {
	display: block;
	margin: 30px -18px !important;
	min-width: 380px;
	width: 100% !important;
	text-align: center;
	padding: 20px;
	background: #FFF;
	height: auto !important;
	box-sizing: unset;
}
.wrapper .fa {
	font-size: 15px !important;
	margin-left: 10px;
	margin-top: 0px;
	right: 0;
}
.box_item.address {
	width: 80%
}
.wrapper.state {
	width: 90% !important;
	height: 23%!important;
}
h2.fieldname {
	margin: 0px 0px 35px 0px;
	display: inline;
	font-weight: 400;
}
h2.spfieldname {
	margin: 0px 0px 35px 0px;
	display: inline;
	font-weight: 400;
	font-size: 12px;
}
.form-group {
	margin-bottom: 0px;
	margin-top: 5px;
}
.button-control-align .form-group {
    max-width: fit-content;
    margin: 30px auto;
}
.spform-group {
	margin-bottom: 5px;
	margin-top: 0px;
}
.form-control,
select.form-control {
	display: block;
	width: 100%;
	height: 50px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.42857143;
	color: #656565;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e2e5e7;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 10px;
}
.form-control:focus {
	border-color: #87CC83 !important;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(123, 120, 165, .6);
}
.summarypage-form-control {
	height: 35px !important;
	font-size: 16px !important;
	padding: 4px 12px !important;
}
span.formerror {
	font-size: 0.85rem;
	color: red;
	float: none;
}
span.spformerror {
	font-size: 12px;
	color: red;
	float: right;
	margin-top: 5px;
}
span.formerror-agreement {
	color: red;
    float: none;
    font-size: calc(0em + 1.1vw)!important;
	font-weight: inherit;
	margin-left: 11px !important;
}
span.formerror-agreement-sp {
	color: red;
    float: none;
    font-size: calc(0em + 1.1vw)!important;
	font-weight: inherit;
	margin-top: 10px !important;
}
.has-error {
	border-color: red !important;
	color: red !important;
	border: 1px solid;
}
.loan-app.info-tooltip .tooltiptext {
	visibility: hidden;
	width: 350px;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	color: #999;
	text-align: center;
	border-radius: 5px;
	padding: 14px;
	position: absolute;
	z-index: 1;
	left: 140px;
	font-size: 13px;
	line-height: 15px;
	height: auto;
	font-weight: 400 !important;
	top: 0px;
}
.info-tooltip:hover .tooltiptext {
	visibility: visible;
}
.info-tooltip .tooltiptext.tooltip-top-margin-anualincome {
	top: -130px;
	left: 188px;
	z-index: 99999;
	padding: 4px;
}
.info-tooltip .tooltiptext.tooltip-top-margin-anualincome-sp{
	top: -165px;
    left: 206px;
    width: 406px;
    z-index: 99999;
    padding: 15px;
    text-align: justify;
}
.info-tooltip .tooltiptext.tooltip-top-margin-cbanualincome {
	top: -130px;
    left: 246px;
    z-index: 99999;
    padding: 4px;
}
div#formbutton {
    max-width: fit-content;
}
div.trans-button {
    max-width: fit-content;
	margin: 0 auto;
}
/* button#withPlaid {
    width: 240px !important;
} */
.error-height {
	min-height: 23px;
}
.bc-primary, .bc-primary:hover, .bc-primary:focus, .bc-primary:disabled {
    display: inline-block !important;
    width: 100% !important;
    height: 2em !important;
    margin: 5px 0px 5px 0px !important;
    border: 0 !important;
    border-radius: 5px !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 6px rgb(212, 78, 74) !important;
    font-family: ralway, sans-serif !important;
    font-size: calc(1em + 0.4vw) !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    white-space: nowrap!important;
    text-decoration: none!important;
    cursor: pointer!important;
    -webkit-transition: all 0.3s ease!important;
    -o-transition: all 0.3s ease!important;
    transition: all 0.3s ease!important;
    background: rgb(242, 108, 104)!important;
    box-shadow: 0 6px rgb(212, 78, 74) !important;
    padding: 5px 20px !important;
}
.button:disabled,
button[type=submit]:disabled {
	cursor: not-allowed !important;
}
.bc-primary-summary,
.bc-primary-summary:hover,
.bc-primary-summary:focus,
.bc-primary-summary:disabled {
	display: inline-block !important;
	width: 50%;
	height: 2em !important;
	margin: 5px 0px 5px 0px !important;
	border: 0 !important;
	border-radius: 5px !important;
	color: #ffffff !important;
	-webkit-box-shadow: 0 0.25rem 2rem -0.5rem rgba(255, 255, 255, 0) !important;
	font-family: ralway, sans-serif !important;
	font-size: 16px !important;
	font-size: 1.3rem!important;
	font-weight: 700 !important;
	line-height: 1 !important;
	white-space: nowrap!important;
	text-decoration: none!important;
	cursor: pointer!important;
	-webkit-transition: all 0.3s ease!important;
	-o-transition: all 0.3s ease!important;
	transition: all 0.3s ease!important;
	background: rgb(242, 108, 104)!important;
    box-shadow: 0 6px rgb(212, 78, 74) !important;
	padding: 5px 20px !important;
}
.button:disabled,
button[type=submit]:disabled {
	cursor: not-allowed !important;
}
.displayblock {
	display: block !important;
}
.trans-statment img {
	display: inline-block;
}
.plaidlinktext{
	height: 33px !important;
}

.trans-statment p {
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	margin-left: 4px;
}
.load-img-mobile-hs {
	margin: 20px 0px;
	position: relative;
	height: 260px;
}
.load-img-mobile-hs img {
	margin: 20px 70px 120px;
	width: 115px;
}
.load-img-hs img {
	margin: 20px 70px 120px;
	width: 125px;
}
.load-img-hs {
	margin: 20px 0px;
	position: relative;
	height: 250px;
}
.load-img-mobile-safari img {
	margin: 65px 40px 0px -145px;
	width: 90px;
	position: absolute;
}
.message-allignment {
	text-align: center;
	margin-top: 0px;
}
.verify-button {
	padding: 0px;
	margin: 0px auto;
}
.info-tooltip .tooltiptext.tooltip-top-margin-partnerlink {
	top: -93px;
	width: 360px !important;
	left: 249px !important;
}
.info-tooltip .tooltiptext.tooltip-top-margin-send-email-message-me {
	top: -41px;
	width: 250px !important;
	left: 656px !important;
}
.info-tooltip .tooltiptext.tooltip-top-margin-send-email-message-me-sp {
	top: -27px;
    width: 250px!important;
    left: 24px !important;
}
.info-tooltip .tooltiptext.tooltip-top-margin-send-email-message-me-cb {
	top: -16px;
    width: 250px !important;
    left: 282px !important;
}
.info-tooltip .tooltiptext.tooltip-top-margin-send-email-message-me-cb-sp {
	top: -16px;
    width: 250px !important;
    left: 282px !important;
}

.info-tooltip .tooltiptext.tooltip-top-margin-call-text-me {
	top: -226px;
    width: 462px !important;
    left: 243px !important;
}
.info-tooltip .tooltiptext.tooltip-top-margin-call-text-me-sp {
	top: -225px;
    width: 462px!important;
    left: 329px!important;
}
.info-tooltip .tooltiptext.tooltip-top-margin-partnerlink-2 {
	top: 21px;
	width: 360px !important;
	left: 289px !important;
}
#breadcrumb-preloader-preloader .center-align {
	display: inline-block;
	margin: 10px auto;
	/*min-width: 380px;*/
	width: 51%;
	text-align: center;
	-webkit-box-sizing: unset;
	box-sizing: unset;
}
.loan-app.info-tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	border-width: 10px;
	border-style: solid;
	border-color: #ccc transparent transparent transparent;
}
.box_item {
	display: block;
	margin: 10px auto;
	min-width: 255px;
	width: 43%;
	text-align: center;
	padding: 0px;
	height: auto !important;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.credit-soup-line-height {
	line-height: 13px;
	font-size: 14px;
	outline: none;
}
.hr-size {
	border: 1px solid black;
	background-color: black;
	margin-top: -8px;
	width: 95%;
	margin-left: 20px;
}
.heading {
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	margin-left: 20px;
	line-height: 1.4em;
}
.summaryPage-leftalign {
	text-align: initial;
	font-size: 20px;
	font-weight: 500;
	margin-left: 10px;
}
.summaryPage-border {
	border: 1px solid darkgray;
	padding: 5px 0px 5px 0px;	
}
.summaryPage-border-top-none {
	border-top: none;
	margin-top: -10px;
}
.summaryPage-border-bottom-none {
	border-bottom: none;	
	margin-bottom: -10px;
}
.summarypage-margin-zero {
	margin: 0px;
	line-height: 25px;
	padding: 0px 0px 0px 30px;
}
.row.address-background {
	background: #f5f5f5;
	width: 96%;
	margin-left: 10px;
	padding-left: 0px;
}
.row.address-backgroundBorrower {
	background: #f5f5f5;
	width: 96%;
	margin-left: 13px;
	padding-left: 0px;
}
.row.address-backgroundCoBorrower {
	background: #f5f5f5;
	width: 96%;
	margin-left: 12px;
	padding-left: 0px;
}
.address-back-margin {
	margin: 0px;
	line-height: 25px;
	padding: 0px 0px 0px 0px;
}
h1.big-heading {
	font-size: 30px;
	margin-top: 0px;
}
.offerdetail {
	margin-left: 14px;
}
.offerdetailborder {
	border: 1px solid grey;
	width: 96%;
	background: #f5f5f5;
	margin: 0 0px 10px 16px;
}
.primarydetail {
	margin-left: 44px;
}
.employerdetail {
	margin-left: 69px;
}
.labelstyle {
	color: #898989;
	font-weight: 500; 
}
.labelstyleBold {
	color: #898989;
	font-weight: bold;	
}
.labelstyle1 {
	color: #898989;
	font-weight: 500;
	margin-left: 3px;
}
.labelstyle2 {
	color: #898989;
	font-weight: 500;
	margin-left: 34px;
}
.labeladdressvalue {
	margin-left: 17px;
	font-weight: 700;
}
.labeladdressvalue2 {
	margin-left: 48px;
	font-weight: 700;
}
.labelemploymentaddress {
	color: #898989;
	font-weight: 500;
	margin-left: -24px;
}
.labelemploymentaddressvalue {
	font-weight: 700;
	margin-left: -9px;
	white-space: nowrap;
}
.labelempaddress2 {
	color: #898989;
	font-weight: 500;
	margin-left: 5px;
}
.labelempaddressvalue2 {
	font-weight: 700;
	margin-left: 21px;
}
.labelstyleCB1 {
	color: #898989;
	font-weight: 500;
	margin-left: -25px;
}
.labelstyleCB2 {
	color: #898989;
	font-weight: 500;
	margin-left: 4px;
}
.labelCBaddressvalue {
	margin-left: -13px;
	font-weight: 700;
}
.labelCBaddressvalue2 {
	margin-left: 20px;
	font-weight: 700;
}
.employmentText {
	font-size: 16px;
	padding-left: 54px;
}
.radio,
.checkbox {
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.radio,
.CBcheckbox {
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.radio.CBcheckbox.input[type="radio"],
input[type="checkbox"] {
	float: left;
	margin: 4px 0 0px;
	line-height: normal;
	margin-right: 10px;
}
.radio,
.checkboxsummary {
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 26px;
}
.radio,
.CBcheckboxsummary {
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -18px;
}
.radio.CBcheckbox.input[type="radio"],
input[type="checkbox"] {
	float: left;
	margin: 1px 0 0px;
	line-height: normal;
	margin-right: 10px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	float: left;
	margin-left: -20px;
}
.CBformlist2 {
	text-align: initial;
}
hr,
.fr-divider-dotline,
.fr-divider-space,
.fr-divider-top,
.fr-divider-double,
.fr-divider-shadow {
	margin: 0.85em 0;
	height: 0;
	clear: both;
}
hr {
	border-top: 1px solid #e2e5e7;
	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, .1);
}
.Coborrowerdetail {
	margin-left: 44px;
}
.summarypageLink {
	color: #87CC83 !important;
	font-size: medium;
	cursor: pointer;
	text-align: left !important;
	/* padding: 10px 0px 17px 52px; */
	margin: 10px 0px 10px 10px;
}
p,
td {
	color: #565656;
	font-family: 'Open sans' !important;
	font-size: 17px;
}
a {
	list-style-type: square;
}
ul.b {
	list-style-type: square;
	margin: 0px 0px 0px 0px;
}
p.formlist {
    text-align: justify;
    padding-left: 10px;
    padding-right: 17px;
	min-height: 133px;
	line-height: 1.35em;
}
p.formlist-sp {
    text-align: justify;
    padding-left: 10px;
    padding-right: 17px;
	min-height: 143px;
	line-height: 1.35em;
}
p.formlist2 {
    text-align: justify;
    padding-left: 10px;
    padding-right: 17px;
}
p.formlist2-sp {
    text-align: justify;
    padding-left: 10px;
    padding-right: 17px;
}
/* .bc-primary {
	padding: 5px 20px !important;
} */
p#currentPosition {
	padding: 0px !important;
	float: none;
	display: inline;
}
.currentPosition{
	padding: 0px !important;
	float: none;
	display: inline;
	font-size: 12px;
	margin-left: -5px;
}
.current-check {
	text-align: left !important;
	margin-top: -12px !important;
	margin-bottom: -11px !important;
}
.spcurrent-check {
    text-align: left !important;
    margin-top: -24px !important;
    margin-bottom: 0px !important;
    margin-left: 70px;
}
.checkboxicon {
	min-height: 49px;
}
.box-panel h3,
.box-panel h4 {
	text-align: initial;
	margin-left: 12px;
}
.employmentheading {
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	margin-left: 180px;
	margin-right: 180px;
}
.clear-both {
	clear: both;
}


.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 45px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	overflow: hidden;
  }
  
/* .modal-content {
    background-color: transparent;
    padding: 10px;
	margin-left: min(25%, calc((100% - 320px)/2));
	margin-top: 0; /*calc((100% - 540px)/2);*/

.modal-content {
	background-color: transparent;
     /* margin: 15% auto; = 15% from the top and centered */
    padding: 10px 0px;
    width: 50%; /* Could be more or less, depending on screen size */
    margin: 0 auto;
}
.wrapper .fa.fa-spin.fa-refresh {
    font-size: 160px !important;
    color: #009444;
    background: linear-gradient(135deg, #009444 0%, #009444 100%);
    margin-top: 55px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3.alignCenter {
    text-align: center !important;
    font-size: calc(1em + 1vw) !important;
}
p.alignJustify {
    text-align: justify !important;
	font-size: calc(1em + 0.2vw) !important;
}
button.submit-app, button.submit-app:hover, button.submit-app:focus {
    width: auto !important;
}

.checkboxalign{
	margin-top: 6px !important;
}
span.error-heading {
	margin: 5px!important;
    font-size: calc(0.1rem + 1.2vw)!important;
    font-weight: 400;
    padding-left: 0px;
    padding-top: 0px;
}
ul.error-messagelist{
	text-align: left;
    margin-top: -30px;
}
.passinvalid {
    position: relative;
	/* left: -20px; */
	content: "âœ–";
    /* content: "\2716"; */
    color: red;
}
.passinvalid::before {
    position: relative;
	content: "âœ–";
    /* content: "\2716"; */
    color: red;
    margin-right: 10px;
}
.passvalid {
    position: relative;
	content: "âœ”";
    color: green;
}
.passvalid::before {
    position: relative;
    color: green;
	content: "âœ”";
    margin-right: 10px;
}
#message {
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 0 20px;
    margin-top: 10px;
	text-align: initial;
	width: 436px !important;
    margin-left: -17px;
}
.modaltext{
    margin-left: 56px;
    text-align: center;
}
.modaltext h3 {
    text-align: center !important;
    margin-right: 76px;
}
.modaltext h4 {
	text-align: center !important;
    font-weight: 500;
    margin-right: 53px;
	margin-left: 0px !important;
	color: #565656 !important;
	padding-top: 17px;
}
h3.mycustom_header, h4.mycustom_header {
    text-align: center;
    font-weight: 600;
    color: #565656;
    font-size: 1.15rem !important;
}
.wordwrap{
	overflow-wrap: break-word;
}
p.paragraph-heading {
    font-weight: 500;
    text-align: justify;
	margin: 40px 0px !important;
	font-size: calc(1em + 0.2vw) !important;
	
}
.fieldspace{
	margin-bottom: -10px;
}
.emailtextdisplay{
	display: flex;
	margin-left: -13px;
}
.emailtitle{
	margin-right: 10px;
	margin-top: 25px;
	font-weight: 500;
}
.emailtitle-sp{
	margin-right: 10px;
	margin-top: 25px;
	font-weight: 500;
	font-size: 16px;
    white-space: nowrap;
}
h3.fieldname-des {
    text-align: center;
}
ul li {
    /* margin-left: 2.125em; */
    margin-left: -41px;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.75;
    text-align: initial;
    white-space: nowrap;
    font-weight: 600;
    font-size: 16px;
}
.documentlistheader{
    width: 685px;
    text-align: center;
    margin-left: -119px;
}
p.documentlist-des {
	width: 710px;
    text-align: center;
    margin-left: -125px;
}
h2.header {
    margin: 0px 0px 12px 0px;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
}
input[type="file"] {
    font-size: 17px;
    display: flex;
}
/* p.fieldname-des {
    display: block;
    font-weight: 400;
    width: 512px;
    text-align: center;
    margin-left: -24px;
    font-size: 16px;
    margin-top: 7px;
} */
.btndocusign, .btndocusign:hover, .btndocusign:focus, .btndocusign:disabled{
	width: auto !important;
}
.summarypageheader{
	margin-left: 5px !important;
}
.sp-form-control, select.sp-form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #656565;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e2e5e7;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 0px !important;
}
.loan-app.info-tooltip .sptooltiptext {
	visibility: hidden;
    width: 350px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    color: #999;
    text-align: right;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 140px;
    font-size: 13px;
    line-height: 15px;
    height: auto;
    font-weight: 400 !important;
    top: 0px;
    border: 1px dotted red;
}
.info-tooltip .sptooltiptext.tooltip-top-margin-spcontrols  {
    top: -12px;
    right: 20px;
    width: auto;
    color: red;
}
.loan-app.info-tooltip .sptooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 90%;
	margin-left: -8px;
	border-width: 7px;
	border-style: solid;
	border-color: red transparent transparent transparent;
}
.visibility {
	visibility: "visible";
}
.employmentConsent {
	margin-left: -54px !important;
}
.employmentConsent-sp {
	margin-left: -54px !important;
    width: 100%;
}
.paragraph {
    text-align: left;
}
.detail-para {
    text-align: left;
    margin-top: -15px;
}
p.fieldname-des {
    display: block;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    font-size: 16px;
    margin-top: 7px;
}
.documentlist-des {
	width: 737px;
    text-align: center;
    margin-left: -140px;
}
.info-tooltip .tooltiptext.tooltip-top-margin-email {
    top: -55px;
    left: 139px;
    z-index: 99999;
    padding: 4px;
}
.info-tooltip .tooltiptext.tooltip-top-margin-email-sp {
	top: -70px;
    left: 229px;
    z-index: 99999;
    padding: 4px;
}
.info-tooltip .tooltiptext.tooltip-top-margin-cbemail {
	top: -55px;
    left: 211px;
    z-index: 99999;
    padding: 4px;
}
button#docusign {
    max-width: fit-content;
    margin: 0 auto !important;
}
.margin25percent {
    margin-left: 25%;
}
.margin25percent-sp {
    margin-left: 25%;
}
.displayTable{
	display: table;
}
.captchaposition{
    min-height: 100px;
}
span#errAgreePqTerms {
    text-align: center;
}
.trans-statment h1 {
    font-size: 19px;
}
.topheight {
    margin-top: 20px;
}
@media (max-width: 800px) {
	.custom-pdding {
		float: none !important;
		width: 100% !important;
		margin: 15px 0px 0px 0px;
		text-align: center;
		padding: 0px;
	}
	.prq-logo {
		float: none !important;
		margin: 0 auto;
		text-align: center;
		width: auto !important;
	}
	.box_item {
		display: block;
		margin: 10px auto;
		min-width: 255px;
		width: 90%;
		text-align: center;
		padding: 0px;
		height: auto !important;
	}
	.progreesBreadcrumb-bar {
		width: 100%;
		height: 15px;
		margin: 20px 16px 0px 16px;
		background: linear-gradient(-225deg,#87CC83 35%,#87CC83)!important;
	}
	.headwayFirstSectionContent {
		width: 100%;
		text-align: center;
		line-height: 10px;
		padding: 0 5px
	}
	.firstSectionContenth3 {
		width: 100%;
		text-align: center;
		line-height: 10px;
		padding-bottom: 0px;
	}
	.firstSectionContentp {
		width: 250px;
		text-align: left;
		line-height: 10px;
		padding-bottom: 0px;
		margin: 0 auto;
	}
	p.tick {
		padding-left: 0px;
		float: left;
		width: 220px;
		margin: 8px 0px;
		text-align: left;
	}
	.headway-view-offer {
		margin-left: 0px;
		margin-bottom: 0px;
		font-family: 'Open Sans' !important;
		padding-bottom: 6px;
		margin-top: 30px;
		padding: 0px;
	}
	.headway-view-offer a {
		color: #010004 !important;
		font-family: 'Open Sans' !important;
	}
}

@media (max-width: 480px) {
	.second-phase-done.heading-top {
		margin: 0px;
	}
	.progreesBreadcrumb-bar-text.second-phase-done {
		text-align: center;
		width: 100% !important;
		margin-bottom: 20px;
	}
	.progreesBreadcrumb-bar-text {
		width: 100%;
		float: left;
		height: auto;
		font-size: 11px;
		color: #333;
	}
	.form-control,
	select.form-control {
		display: block;
		width: 100%;
		height: 50px;
		padding: 6px 12px;
		font-size: 20px;
		line-height: 1.42857143;
		color: #656565;
		background-color: #fff;
		background-image: none;
		border: 1px solid #e2e5e7;
		-webkit-box-shadow: none;
		box-shadow: none;
		margin-top: 10px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Open Sans' !important;
		color: #565656;
		font-size: 22px;
		margin: 15px 0px;
		padding: 0;
		font-weight: 700;
		font-style: normal;
		line-height: 1.1;
	}
	/* h2.fieldname {
		margin: 0px 0px 35px 0px;
		display: inline;
		font-weight: 400;
	} */
	.has-error {
		border-color: red !important;
		color: red !important;
		border: 1px solid;
	}
	#breadcrumb-preloader-preloader .center-align {
		display: inline-block;
		margin: 0px auto;
		min-width: 85%;
		-webkit-box-sizing: unset;
		box-sizing: unset;
	}
	.breadcrumb-preloader-preloader .button-control-align {
		padding: 0px 0px 0px 0px;
	}
	.employmentheading {
		font-size: 19px;
		font-weight: normal;
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;
	}
	.heading {
		font-size: 14px;
		font-weight: normal;
		margin-left: 0px;
		margin-right: 0px;
		text-align: center;
	}
	.bc-primary-summary,
	.bc-primary-summary:hover,
	.bc-primary-summary:focus,
	.bc-primary-summary:disabled {
		display: inline-block !important;
		width: 100% !important;
		height: 2em !important;
		margin: 5px 0px 5px 0px !important;
		border: 0 !important;
		border-radius: 9rem !important;
		color: #ffffff !important;
		-webkit-box-shadow: 0 0.25rem 2rem -0.5rem rgba(255, 255, 255, 0) !important;
		font-family: ralway, sans-serif !important;
		font-size: 16px !important;
		font-size: 1.3rem!important;
		font-weight: 700 !important;
		line-height: 1 !important;
		white-space: nowrap!important;
		text-decoration: none!important;
		cursor: pointer!important;
		-webkit-transition: all 0.3s ease!important;
		-o-transition: all 0.3s ease!important;
		transition: all 0.3s ease!important;
		background: rgb(242, 108, 104)!important;
   		box-shadow: 0 6px rgb(212, 78, 74) !important;
		-webkit-box-shadow: 5px 5px 15px lightgrey !important;
	}
	.center-block.col-md-12 {
		position: relative;
		min-height: 0;
		padding-right: 0px;
		padding-left: 0px;
	}
	.summaryPage-leftalign {
		text-align: initial !important;
		font-size: 18px;
		font-weight: 500;
		margin-left: -8px;
		margin: 5px 0px 0px 2px;
	}
	p.fieldname {
		margin: 0px 0px 5px;
		display: inline;
	}
	.box-panel h3,
	.box-panel h4 {
		font-size: calc(1em + 0.8vw)!important;
		margin-left: 0px;
		padding-bottom: 5px;
	}
	.checkbox-left-margin {
		margin-left: 20px!important;
	}
	.employmentText {
		font-size: 16px;
		padding-left: 19px;
	}
	hr,
	.fr-divider-dotline,
	.fr-divider-space,
	.fr-divider-top,
	.fr-divider-double,
	.fr-divider-shadow {
		margin: 0.5em 0;
		height: 0;
		clear: both;
	}
	hr {
		border-top: 1px solid #e2e5e7;
		height: 1px;
		margin-bottom: 1rem;
		background-color: rgba(0, 0, 0, .1);
	}
	.offerdetail {
		margin-left: -11px;
	}
	.offerdetailborder {
		border: 1px solid grey;
		width: 97%;
		background: #f5f5f5;
		margin-bottom: 10px;
	}
	.row.address-backgroundBorrower {
		background: #f5f5f5;
		width: 96%;
		margin-left: 0px;
		padding-left: 0px;
	}
	.row.address-backgroundCoBorrower {
		background: #f5f5f5;
		width: 94%;
		margin-left: 1px;
		padding-left: 0px;
	}
	.row.address-background {
		background: #f5f5f5;
		width: 94%;
		margin-left: -15px;
		padding-left: 0px;
	}
	.summarypage-margin-zero {
		margin: 0px;
		line-height: 24px;
		padding: 0px 0px 0px 15px;
	}
	.summarypage-margin-zero-sp {
		margin: 0px;
		width: 180px;
		margin-left: -10px;
		line-height: 24px;
	}
	.labelstyle1 {
		color: #898989;
		font-weight: 500;
		margin-left: 1px;
	}
	.labelstyle2 {
		color: #898989;
		font-weight: 500;
		margin-left: 1px;
	}
	.labeladdressvalue2 {
		margin-left: 18px;
		font-weight: 700;
	}
	.labelempaddress2 {
		color: #898989;
		font-weight: 500;
		margin-left: -24px;
	}
	.labelempaddressvalue2 {
		font-weight: 700;
		margin-left: -8px;
	}
	.labelemploymentaddressvalue {
		font-weight: 700;
		margin-left: -6px;
	}
	.labelstyleCB2 {
		color: #898989;
		font-weight: 500;
		margin-left: 0px;
	}
	.labelstyleCB1 {
		color: #898989;
		font-weight: 500;
		margin-left: 0px;
	}
	.labelCBaddressvalue2 {
		margin-left: 19px;
		font-weight: 700;
	}
	.labelCBaddressvalue {
		margin-left: 19px;
		font-weight: 700;
	}
	.hr-size {
		border: 1px solid black;
		margin-top: -8px;
		width: 98%;
		margin-left: 1px;
	}
	.employerdetail {
		margin-left: 15px;
	}
	.employerdetails {
		margin-left: 12px;
	}
	.summaryPage-leftalign {
		text-align: initial !important;
		font-size: 14px;
		font-weight: 800;
		margin-left: -8px;
		margin: 5px 0px 0px 0px;
	}
	.Coborrowerdetail {
		margin-left: 2px;
	}
	h1.big-heading {
		font-size: 24px;
		margin-top: 0px;
	}
	.heading {
		font-size: 14px;
		font-weight: normal;
		text-align: center;
		margin-left: 6px;
		margin-right: 6px;
	}
	#mainboxcontent .container-box-content-summary {
		margin: -11px -12px 10px -8px;
	}
	.radio.CBcheckbox.input[type="radio"],
	input[type="checkbox"] {
		float: left;
		margin: 4px 2px 0px;
		line-height: normal;
		margin-right: 7px;
	}
	.radio,
	.checkboxsummary {
		display: block;
		min-height: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 0px;
	}
	.radio,
	.CBcheckboxsummary {
		display: block;
		min-height: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: -2px;
	}
	.credit-soup-line-height {
		line-height: 2.3rem;
		font-size: 14px;
		padding-bottom: 4px;
		padding-left: 0px;
		margin-left: -64px;
		outline: none;
	}
	.emptext {
		padding-left: 0;
	}
	.emptextvalue {
		padding-left: 0px;
		padding-right: 0px;
	}
	.box-panel h4 {
		font-size: 15px;
		margin-left: -4px;
		padding-bottom: 5px;
	}
	.box-panel h4 {
		font-size: 15px;
		margin-left: -13px;
		padding-bottom: 5px;
	}
	.empstatus {
		margin-left: -65px;
	}
	.empphone {
		margin-left: -31px;
	}
	.modal-content {
        background-color: transparent;
        padding: 10px 0px 0px 5px;
        width: 58% !important;
        margin: 25px 75px 25px 25px !important;
        height: 51%;  
        display: inline-block;
        padding-right: -4px;
    }
    
    .wrapper .fa.fa-spin.fa-refresh {
        font-size: 150px !important; 
        color: #010004;
        background: linear-gradient(135deg, #009444 0%, #009444 100%);
        margin-top: 27px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .img {
        vertical-align: inherit;
        /* float: left; */
        width: 200px !important;
        /* font-size: 0px; */
		}
	.summaryPage-border-top-none {
		border-top: none;
		margin-top: -10px;
	}
}
@media (max-width: 420px) {
	.second-phase-done.heading-top {
		margin: 0px;
	}
	.state .form-group {
		margin-bottom: 0px;
	}
	.text-control-align.new-height {
		height: 65px;
	}
	.headwayFirstSectionContent {
		width: 100%;
		text-align: center;
		line-height: 10px;
		padding: 0 5px
	}
	.firstSectionContenth3 {
		width: 100%;
		text-align: center;
		line-height: 10px;
		padding-bottom: 0px;
	}
	.firstSectionContentp {
		width: 250px;
		text-align: left;
		line-height: 10px;
		padding-bottom: 0px;
		margin: 0 auto;
	}
	p.tick {
		padding-left: 0px;
		float: left;
		width: 220px;
		margin: 8px 0px;
		text-align: left;
	}
	.headway-view-offer {
		margin-left: 0px;
		margin-bottom: 0px;
		font-family: 'Open Sans' !important;
		padding-bottom: 6px;
		margin-top: 30px;
		padding: 0px;
	}
	.headway-view-offer a {
		color: #010004 !important;
		font-family: 'Open Sans' !important;
	}
	.wrapper {
		display: block;
		margin: 0 -25px;
		min-width: 260px;
		width: 100%;
		padding: 20px 20px 20px 20px;
		background: #FFF;
		height: auto !important;
	}
	.form-group {
		margin-bottom: 0px;
		margin-right: -2px;
	}
	/* #breadcrumb-preloader-preloader .text-control-align {
		padding: 0px 14px 0px 14px;
	} */
	.loan-app.info-tooltip .tooltiptext {
		width: 260px;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-anualincome {
		top: -180px;
    	left: 61px;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-anualincome::after {
		left: 74%;
	}

	span.tooltiptext.tooltip-top-margin-anualincome {
		font-family: 'Open Sans' !important;
	}
	#breadcrumb-preloader-preloader .button-control-align {
		padding: 0px 14px 0px 20px;
	}
	.mobile-text-bottom {
		margin-bottom: 0px !important;
	}
	.load-img-mobile-safari img {
		margin: -120px 60px 70px 70px;
		width: 90px;
		position: relative;
	}
	.website-text {
		position: relative;
		display: inline-block;
	}
	.address-popup {
		margin: 40px -57px !important;
	}
	#breadcrumb-preloader-preloader .button-align {
		padding: 0px 15px 0px 15px;
	}
	.verify-button {
		padding: 0px 15px;
		margin: 10px auto;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-partnerlink {
		top: -96px;
		left: 17px !important;
		width: 250px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-send-email-message-me {
		top: 105px;
		left: 10px !important;
		width: 250px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-call-text-me {
		top: -35px;
		left: 116px !important;
		width: 270px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-call-text-me::after {
		left: 78%;
	}

	.info-tooltip .tooltiptext.tooltip-top-margin-partnerlink-2 {
		top: 210px;
		left: 125px !important;
		width: 250px !important;
	}
	.custom-pdding {
		float: none !important;
		width: 100% !important;
		margin: 15px 0px 0px 0px;
		text-align: center;
		padding: 0px;
	}
	.box_item {
		display: block;
		margin: 10px auto;
		min-width: 255px;
		width: 90%;
		text-align: center;
		padding: 0px;
		height: auto !important;
	}
	.employerdetail {
		margin-left: 20px;
	}
	.emptext {
		padding-left: 0;
	}
	.primarydetails {
		margin-left: 5px;
	}
	.box-panel h4 {
		font-size: 15px;
		margin-left: 10px;
		padding-bottom: 5px;
	}
	.summaryPage-leftalign {
		text-align: initial !important;
		font-size: 14px;
		font-weight: 800;
	}
	.summaryPage-border {
		border: 1px solid darkgray;
		width: 1;
		margin: 0 auto;
		margin: 0px -20px 0px -20px !important;
		padding-left: 6px;
	}
	.row.address-background {
		background: #f5f5f5;
		width: 100%;
		margin-left: -15px;
		padding-left: 0px;
	}
	.labelemploymentaddressvalue {
		font-weight: 700;
		margin-left: -12px;
	}
	.labelempaddressvalue2 {
		font-weight: 700;
		margin-left: -10px;
	}
	.Coborrowerdetail {
		margin-left: 5px;
	}
	.CBcheckboxsummary {
		display: block;
		min-height: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: -6px;
	}
	.offerdetail {
		margin-left: 5px;
	}
	.progreesBreadcrumb-bar {
		width: 100%;
		height: 15px;
		margin: 20px 16px 0px 16px;
		background: linear-gradient(-225deg,#87CC83 35%,#87CC83)!important;
		margin: 0 auto !important;
	}
	.btn.bc-primary, .btn.bc-primary:disabled, .btn.bc-primary:focus, .btn.bc-primary:hover {
		font-size: calc(1em + 0.4vw) !important;
		padding: 5px 10px !important;
	}
	.bc-primary, .bc-primary:hover, .bc-primary:focus, .bc-primary:disabled {
		display: inline-block !important;
		width: 100% !important;
		/* margin-left: 53px !important; */
		height: 2em !important;
		margin: 5px 0px 5px 0px !important;
		border: 0 !important;
		border-radius: 5px !important;
		color: #ffffff !important;
		/* box-shadow: 0 0.25rem 2rem -0.5rem rgba(255, 255, 255, 0) !important; */
		font-family: ralway, sans-serif !important;
		font-weight: 700 !important;
		line-height: 1 !important;
		white-space: nowrap!important;
		text-decoration: none!important;
		cursor: pointer!important;
		/* -o-transition: all 0.3s ease!important; */
		background: rgb(242, 108, 104)!important;
		box-shadow: 0 6px rgb(212, 78, 74) !important;
	}
	.modal-content {
        background-color: transparent;
        /* margin: 15% auto; = 15% from the top and centered */
       padding: 10px 0px 10px 8px;
       width: 75% !important; /* Could be more or less, depending on screen size */
       margin: 0 auto;
    }
    .wrapper {
        display: block;
        margin: 0 0px !important;
        min-width: 260px;
        width: 100%;
        /* text-align: center; */
        padding: 20px 20px 20px 20px;
        background: #FFF;
        height: auto !important;
    }
	.website-text{ position: relative;display: inline-block;}
	span.formerror-agreement {
		color: red;
		float: none;
		font-size: calc(1.0em + 0.0vw)!important;
		font-weight: inherit;
		margin-left: 11px !important;
	}
	.documentlistheader {
		width: 100% !important;
		text-align: justify;
		font-size: 13px;
		margin-left: 0px !important;
		line-height: 20px;
	}
	p.documentlist-des {
		width: 100% !important;
		text-align: justify;
		font-size: 13px;
		margin-left: 0px !important;
		line-height: 20px;
	}
	ul li {
		margin-left: 0px;
		/* padding: 0; */
		position: relative;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		line-height: 1.50;
		text-align: initial;
		white-space: pre-wrap;
		font-weight: 600;
		font-size: 12px;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	h2.header {
		margin: 0px 0px 12px 0px;
		display: block;
		font-weight: 400;
		font-size: 18px;
	}
	p.fieldname {
		margin: 0px 0px 0px;
		display: inline-block;
		font-size: inherit;
		line-height: 21px;
	}
	p.fieldname-des {
		display: block;
		font-weight: 400;
		width: 100% !important;
		text-align: center;
		margin-left: 0px !important;
		font-size: 16px;
		margin-top: 7px;
		line-height: 22px;
	}
	span.error-heading {
		text-align: left!important;
		padding-top: 0px;
		font-size: calc(0.1rem + 3.2vw)!important;
		margin: 5px !important;
		font-weight: 400;
	}
	span.mycustom_header, h4.mycustom_header {
		text-align: center;
		font-weight: 600;
	}
	#message p {
		padding: 0px 0px;
	}
	#message {
		background: #f1f1f1;
		color: #000;
		position: relative;
		padding: 0 20px;
		margin-top: 0px;
		text-align: initial;
		max-width: 309px;
	}
	.box-panel h3, .box-panel h4 {
		/* font-size: 15px; */
		font-size: calc(1em + 0.9vw)!important;
		margin-left: 0px;
		padding-bottom: 0px;
		font-weight: 700;
	}
	.emailtextdisplay {
		display: flex;
		margin-left: 0px;
	}
	.modaltext {
		display: inline-block;
		text-align: center !important;
		width: 100% !important;
		font-size: calc(0.3em + 1.9vw)!important;
		height: 100% !important;
		font-weight: 400 !important;
		line-height: 0px;
		margin: 0 25px !important;
	}
	h2.fieldname {
		margin: 0px 0px 35px 0px;
		display: inline;
		font-weight: 400;
		font-size: calc(1em + 0.9vw) !important;
	}
	h3.fieldname-des {
		font-size: calc(1em + 1.9vw)!important;
	}
	.trans-statment {
		display: inline-block;
		margin: 0 19px !important;
		font-size: calc(1em + 0.8vw)!important;
		text-align: center !important;
	}
	p.alignJustify {
		line-height: 23px;
	}
	button#withoutPlaid {
		width: 100% !important;
	}
	p.paragraph-heading {
		line-height: 21px;
	}
	h4.loantitle {
		margin-left: 5px !important;
	}
	.alignCenter {
		text-align: center !important;
		margin-bottom: 30px;
	}
	.employmentConsent {
		margin-left: 1px !important;
		width: 100% !important;
	}
	.summaryPage-border-top-none {
		border-top: none;
		margin-top: -10px;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-anualincome-sp{
		left: 22px;
		top: -184px;
		width: 360px;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-anualincome-sp::after {
		left: 79%;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-email-sp {
		top: -85px;
		left: 97px;
		z-index: 99999;
		padding: 4px;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-email-sp::after {
		left: 80%;
	}
	span.formerror-agreement-sp {
		font-size: calc(0.5em + 1.1vw)!important;
	}
	.labelstyleBold {
		margin-left: -15px !important;
	}
	.employmentConsent-sp{
		margin-left: -5px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-send-email-message-me-sp {
		top: 128px;
		width: 250px!important;
		left: 102px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-call-text-me-sp {
		top: -277px;
		width: 322px !important;
		left: 41px!important;
	}
	.margin25percent-sp {
		margin-left: 0%;
	}
}
@media (max-width: 404px) and (min-width: 375px) {
	.headwayFirstSectionContent {
		width: 100%;
		text-align: center;
		line-height: 10px;
		padding: 0 5px
	}
	.firstSectionContenth3 {
		width: 100%;
		text-align: center;
		line-height: 10px;
		padding-bottom: 0px;
	}
	.firstSectionContentp {
		width: 250px;
		text-align: left;
		line-height: 10px;
		padding-bottom: 0px;
		margin: 0 auto;
	}
	p.tick {
		padding-left: 0px;
		float: left;
		width: 220px;
		margin: 8px 0px;
		text-align: left;
	}
	.headway-view-offer {
		margin-left: 0px;
		margin-bottom: 0px;
		font-family: 'Open Sans' !important;
		padding-bottom: 6px;
		margin-top: 30px;
		padding: 0px;
	}
	.headway-view-offer a {
		color: #010004 !important;
		font-family: 'Open Sans' !important;
	}
	.load-img-mobile-safari img {
		margin: -120px 60px 70px 70px;
		width: 90px;
	}
	.address-popup {
		margin: 25px -25px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-partnerlink {
		top: -95px;
		left: 70px !important;
		width: 250px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-partnerlink::after {
		top: 100%;
		left: 72%;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-send-email-message-me {
		top: 132px;
		left: 105px !important;
		width: 250px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-partnerlink-2 {
		top: 293px;
		left: 17px !important;
		width: 250px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-partnerlink-2::after {
		left: 83%;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-call-text-me {
		top: 37px;
		left: 87px !important;
		width: 270px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-call-text-me::after {
		left: 82%;
	}
	.box_item {
		display: block;
		margin: 10px auto;
		min-width: 255px;
		width: 90%;
		text-align: center;
		padding: 0px;
		height: auto !important;
	}
	.btn.bc-primary, .btn.bc-primary:disabled, .btn.bc-primary:focus, .btn.bc-primary:hover {
		font-size: calc(1em + 0.4vw) !important;
		padding: 5px 10px !important;
	}
	.bc-primary,
	.bc-primary:hover,
	.bc-primary:focus,
	.bc-primary:disabled {
		display: inline-block !important;
		padding: 5px 20px !important;
		width: 100% !important;
		/* margin-left: 60px !important; */
		height: 2em !important;
		margin: 5px 0px 5px 0px !important;
		border: 0 !important;
		border-radius: 5px !important;
		color: #ffffff !important;
		-webkit-box-shadow: 0 0.25rem 2rem -0.5rem rgba(255, 255, 255, 0) !important;
		font-family: ralway, sans-serif !important;
		font-size: 1.3rem!important;
		font-weight: 700 !important;
		line-height: 1 !important;
		white-space: nowrap!important;
		text-decoration: none!important;
		cursor: pointer!important;
		-webkit-transition: all 0.3s ease!important;
		-o-transition: all 0.3s ease!important;
		transition: all 0.3s ease!important;
		background: rgb(242, 108, 104)!important;
		box-shadow: 0 6px rgb(212, 78, 74) !important;
	}
	.summaryPage-leftalign {
		text-align: initial !important;
		font-size: 14px;
		font-weight: 800;
	}
	.primarydetail {
		margin-left: 9px;
	}
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
		position: relative;
		min-height: 0;
	}
	.CBformlist2 {
		text-align: initial;
		font-size: 14px;
	}
	.employmentText {
		margin-left: 27px;
	}
	.employerdetail {
		margin-left: 25px;
	}
	.Coborrowerdetail {
		margin-left: -12px;
	}
	.CBcheckboxsummary {
		display: block;
		min-height: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: -10px;
	}
	.heading {
		font-size: 14px;
		font-weight: normal;
		text-align: center;
	}
	.employerdetail {
		margin-left: 20px;
	}
	.emptext {
		padding-left: 0;
	}
	.primarydetails {
		margin-left: 5px;
	}
	.box-panel h4 {
		font-size: 15px;
		padding-bottom: 5px;
	}
	.offerdetail {
		margin-left: 5px;
	}
	.summaryPage-border {
		border: 1px solid darkgray;
		width: 1;
		margin: 0 auto;
		margin: 0px -20px 0px -20px !important;
	}
	.row.address-background {
		background: #f5f5f5;
		width: 100%;
		margin-left: -15px;
		padding-left: 0px;
	}
	.labelemploymentaddressvalue {
		font-weight: 700;
		margin-left: -12px;
	}
	.labelempaddressvalue2 {
		font-weight: 700;
		margin-left: -10px;
	}
	.Coborrowerdetail {
		margin-left: 5px;
	}
	.CBcheckboxsummary {
		display: block;
		min-height: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: -6px;
	}
	.progreesBreadcrumb-bar {
		width: 100%;
		height: 15px;
		margin: 20px 16px 0px 16px;
		background: linear-gradient(-225deg,#87CC83 35%,#87CC83)!important;
		margin: 0 auto !important;
	}
	.modal-content {
		background-color: transparent;
		padding: 0px 0px 0px 0px !important;
		width: 75% !important;
		margin: 20px 75px 25px 25px !important;
	}
	span.formerror-agreement {
		color: red;
		float: none;
		font-size: calc(1.0em + 0.0vw)!important;
		font-weight: inherit;
		margin-left: 11px !important;
	}
	.documentlistheader {
		width: 100% !important;
		text-align: justify;
		font-size: 13px;
		margin-left: 0px !important;
		line-height: 20px;
	}
	ul li {
		margin-left: 0px;
		/* padding: 0; */
		position: relative;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		line-height: 1.50;
		text-align: initial;
		white-space: pre-wrap;
		font-weight: 600;
		font-size: 12px;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	h2.header {
		margin: 0px 0px 12px 0px;
		display: block;
		font-weight: 400;
		font-size: 18px;
	}
	p.fieldname {
		margin: 0px 0px 0px;
		display: inline-block;
		font-size: inherit;
	}
	p.fieldname-des {
		display: block;
		font-weight: 400;
		width: 100% !important;
		text-align: center;
		margin-left: 0px;
		font-size: 15px;
		margin-top: 7px;
	}
	span.error-heading {
		text-align: left!important;
		padding-top: 0px;
		font-size: calc(0.1rem + 3.2vw)!important;
		margin: 5px !important;
		font-weight: 400;
	}
	span.mycustom_header, h4.mycustom_header {
		text-align: center;
		font-weight: 600;
	}
	#message p {
		padding: 0px 0px;
	}
	#message {
		background: #f1f1f1;
		color: #000;
		position: relative;
		padding: 0 20px;
		margin-top: 0px;
		text-align: initial;
		max-width: 286px;
	}
	.box-panel h3, .box-panel h4 {
		/* font-size: 15px; */
		font-size: calc(1em + 0.9vw)!important;
		margin-left: 0px;
		padding-bottom: 0px;
		font-weight: 700;
	}
	.emailtextdisplay {
		display: flex;
		margin-left: 0px;
	}
	.modaltext {
		margin-left: 29px;
		text-align: center;
		width: 100%;
		height: 100% !important;
		line-height: 10px;
	}
	h2.fieldname {
		margin: 0px 0px 35px 0px;
		display: inline;
		font-weight: 400;
		font-size: calc(1em + 0.7vw) !important;
	}
	h3.fieldname-des {
		font-size: calc(1em + 1.9vw)!important;
	}
	.trans-statment {
		display: inline-block;
		margin: 0 9px !important;
		font-size: calc(1em + 0.9vw)!important;
		text-align: center !important;
	}
	p.alignJustify {
		line-height: 23px;
	}
	button#withoutPlaid {
		width: 100% !important;
	}
	p.paragraph-heading {
		line-height: 21px;
	}
	.empstatus {
		margin-left: -60px;
	}
	.empphone {
		margin-left: -30px;
	}
	.employmentConsent {
		width: 100% !important;
	}
	.summaryPage-border-top-none {
		border-top: none;
		margin-top: -10px;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-anualincome-sp{
		left: 80px;
    	top: -261px;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-anualincome-sp::after {
		left: 79%;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-email-sp {
		top: -85px;
		left: 71px;
		z-index: 99999;
		padding: 4px;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-email-sp::after {
		left: 80%;
	}
	.employmentConsent-sp {
		margin-left: 8px !important;
		width: 100%;
	}
	.margin25percent-sp {
		margin-left: 0%;
	}
}
@media (max-width: 360px) {
	.headwayFirstSectionContent {
		width: 100%;
		text-align: center;
		line-height: 10px;
		padding: 0 5px
	}
	.firstSectionContenth3 {
		width: 100%;
		text-align: center;
		line-height: 10px;
		padding-bottom: 0px;
	}
	.firstSectionContentp {
		width: 250px;
		text-align: left;
		line-height: 10px;
		padding-bottom: 0px;
		margin: 0 auto;
	}
	p.tick {
		padding-left: 0px;
		float: left;
		width: 220px;
		margin: 8px 0px;
		text-align: left;
	}
	.headway-view-offer {
		margin-left: 0px;
		margin-bottom: 0px;
		font-family: 'Open Sans' !important;
		padding-bottom: 6px;
		margin-top: 30px;
		padding: 0px;
	}
	.headway-view-offer a {
		color: #010004 !important;
		font-family: 'Open Sans' !important;
	}
	.wrapper {
		display: block;
		margin: 0 -25px;
		min-width: 225px;
		width: 100%;
		padding: 20px 20px 20px 20px;
		background: #FFF;
		height: auto !important;
	}
	.prq-logo {
		float: left;
		margin: 10px 0 0 15px;
		width: 140px!important;
	}
	.form-group {
		margin-bottom: 15px;
		margin-right: -2px;
	}
	/* h2.fieldname {
		font-size: calc(0em+ 2vw);
	} */
	/* #breadcrumb-preloader-preloader .text-control-align {
		padding: 0px 14px 0px 14px;
		font-size: calc(1em + 0.3vw) !important;
	} */
	.loan-app.info-tooltip .tooltiptext {
		width: 225px;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-anualincome {
		top: -213px;
		left: 52px;
	}
	.mobile-text-bottom {
		margin-bottom: 0px !important;
	}
	#breadcrumb-preloader-preloader .button-control-align {
		padding: 0px 14px 0px 20px;
	}
	button[type=button]:focus,
	button[type=submit]:focus {
		font-size: 20px !important;
		padding: 5px 15px !important;
	}
	button[type=button]:hover,
	button[type=submit]:hover {
		font-size: 20px !important;
		padding: 5px 15px !important;
	}
	.load-img-mobile-safari img {
		margin: -120px 60px 70px 70px;
		width: 90px;
	}
	#breadcrumb-preloader-preloader .button-align {
		padding: 0px 15px 0px 15px;
	}
	.verify-button {
		padding: 0px;
		margin: 10px auto;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-send-email-message-me {
		top: 185px;
		left: 0px !important;
		width: 230px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-call-text-me {
		top: 65px;
		left: 35px !important;
		width: 250px !important;
	}
	.info-tooltip .tooltiptext.tooltip-top-margin-partnerlink-2 {
		top: 380px;
		left: 0px !important;
		width: 250px !important;
	}
	.box_item {
		display: block;
		margin: 10px auto;
		min-width: 255px;
		width: 90%;
		text-align: center;
		padding: 0px;
		height: auto !important;
	}
	.summaryPage-leftalign {
		font-size: 16px;
		font-weight: 800;
		margin-left: -8px;
		margin: 5px 0px 0px 2px;
	}
	.credit-soup-line-height {
		line-height: 0.85em;
		font-size: 10px;
		padding-bottom: 4px;
		padding-left: 1px;
		outline: none;
	}
	.CBformlist2 {
		text-align: initial;
		font-size: 14px;
	}
	.summarypageLink {
		color: #87CC83 !important;
		cursor: pointer;
		margin-left: 22px;
	}
	span.formerror-agreement {
		color: red;
		font-size: 0.85rem;
	}
	.fa,
	.fas {
		font-weight: 900;
		font-size: 21px;
	}
	.box-panel h3,
	.box-panel h4 {
		text-align: inherit;
	}
	.heading {
		font-size: 14px;
		font-weight: normal;
		text-align: initial;
		margin-left: 20px;
		line-height: 23px;
		margin-right: 18px;
	}
	.summaryPage-border {
		border: 1px solid darkgray;
		margin: 0px 5px 0px -3px !important;
	}
	.btn.bc-primary, .btn.bc-primary:disabled, .btn.bc-primary:focus, .btn.bc-primary:hover {
		font-size: calc(1em + 0vw) !important;
		padding: 5px 5px !important;
	}
	.bc-primary-summary,
	.bc-primary-summary:hover,
	.bc-primary-summary:focus,
	.bc-primary-summary:disabled {
		display: inline-block !important;
		width: 79% !important;
		height: 2em !important;
		margin: 5px 0px 5px 0px !important;
		border: 0 !important;
		border-radius: 9rem !important;
		color: #ffffff !important;
		font-family: ralway, sans-serif !important;
		font-size: 16px !important;
		font-size: 1.3rem!important;
		font-weight: 700 !important;
		line-height: 1 !important;
		white-space: nowrap!important;
		text-decoration: none!important;
		cursor: pointer!important;
		transition: all 0.3s ease!important;
		background: rgb(242, 108, 104)!important;
   		 box-shadow: 0 6px rgb(212, 78, 74) !important;
		-webkit-box-shadow: 5px 5px 15px lightgrey !important;
		margin-left: -8px !important;
	}
	.modal-content {
        background-color: transparent;
        /* margin: 15% auto; = 15% from the top and centered */
       padding: 10px 0px 10px 1px;
       width: 70%!important; /* Could be more or less, depending on screen size */
       margin: 0 48px;
    }
    .wrapper {
        display: block;
        margin: 0 -25px;
        min-width: 225px;
        width: 100%;
        /* text-align: center; */
        padding: 20px 20px 20px 20px;
        background: #FFF;
        height: auto !important;
	}
	span.formerror-agreement {
		color: red;
		float: none;
		font-size: calc(1.0em + 0.0vw)!important;
		font-weight: inherit;
		margin-left: 11px !important;
	}
	.documentlistheader {
		width: 100% !important;
		text-align: justify;
		font-size: 13px;
		margin-left: 0px !important;
		line-height: 20px;
	}
	ul li {
		margin-left: 0px;
		/* padding: 0; */
		position: relative;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		line-height: 1.50;
		text-align: initial;
		white-space: pre-wrap;
		font-weight: 600;
		font-size: 12px;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	h2.header {
		margin: 0px 0px 12px 0px;
		display: block;
		font-weight: 400;
		font-size: 18px;
	}
	p.fieldname {
		margin: 0px 0px 0px;
		display: inline-block;
		font-size: inherit;
	}
	p.fieldname-des {
		display: block;
		font-weight: 400;
		width: 512px;
		text-align: center;
		margin-left: -24px;
		font-size: 16px;
		margin-top: 7px;
	}
	span.error-heading {
		text-align: left!important;
		padding-top: 0px;
	}
	span.mycustom_header, h4.mycustom_header {
		text-align: center;
		font-weight: 600;
	}
	#message p {
		padding: 0px 0px;
	}
	#message {
		background: #f1f1f1;
		color: #000;
		position: relative;
		padding: 0 0px;
		margin-top: 0px;
		text-align: initial;
		max-width: 250px;
	}
	.box-panel h3, .box-panel h4 {
		/* font-size: 15px; */
		font-size: calc(1em + 0.9vw)!important;
		margin-left: 0px;
		padding-bottom: 0px;
		font-weight: 700;
	}
	.emailtextdisplay {
		display: flex;
		margin-left: 0px;
	}
	ul.error-messagelist {
		text-align: left;
		margin-top: -30px;
		font-size: 13px;
	}
	.modaltext {
		margin-left: 29px;
		text-align: center;
		width: 100%;
		height: 100% !important;
		line-height: 10px;
	}
	h2.fieldname {
		margin: 0px 0px 35px 0px;
		display: inline;
		font-weight: 400;
		font-size: calc(1em + 0.7vw) !important;
	}
	h3.fieldname-des {
		font-size: calc(1em + 1.9vw)!important;
	}
	.trans-statment {
		display: inline-block;
		margin: 0 auto !important;
		font-size: calc(1em + 0.1vw)!important;
		text-align: center !important;
	}
	p.alignJustify {
		line-height: 23px;
	}
	button#withoutPlaid {
		width: 100% !important;
	}
	p.paragraph-heading {
		line-height: 21px;
	}
	.employmentConsent {
		width: 100% !important;
		margin-left: -10px !important;
	}
}
.documentdesc .fieldname {
	font-size: 18px;
	text-transform: none;
	text-align: left;
	display: block;
	line-height: 23px;
	font-weight: 600;
}

.documentdesc .fieldname-des{
	font-size: 18px;
	text-transform: none;
	text-align: left;
	display: block;
	line-height: 23px;
	font-weight: 600;
	margin-top: -54px;
}
.photograph .fieldname,.bankstate .fieldname{font-weight: 600;}
.capitalize .fieldname{ text-transform:capitalize}
.documentList span {
    width: 100%;
    display: inline-flex;
}
.close{margin-top:0}